<%= form_with(model: [@project, discussion], local: true) do |form| %>


  <div class="box tabular">
    <% if discussion.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>

        <ul>
        <% discussion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p class="field">
      <%= form.label :subject %>
      <%= form.text_field :subject %>
    </p>

    <p class="field">
      <%= form.label :content %>
      <%= form.text_area :content %>
    </p>

    <p><%= form.select :priority_id, (@priorities.collect {|p| [p.name, p.id]}) %></p>

  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
