<h1><%= t(".title") %></h1>

<table id="discussions">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Content</th>
      <th>Project</th>
      <th>Priority</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discussions.each do |discussion| %>
      <% next unless discussion.visible? %>
      <tr>
        <td><%= discussion.subject %></td>
        <td><%= discussion.content %></td>
        <td><%= discussion.project %></td>
        <td><%= discussion.priority %></td>
        <td><%= discussion.author %></td>
        <td>
          <% if discussion.visible? %>
            <%= link_to 'Show', [@project, discussion] %>
          <% end %>
        </td>
        <td>
          <% if discussion.editable? %>
            <%= link_to 'Edit', edit_project_discussion_path(@project, discussion) %>
          <% end %>
        </td>
        <td>
          <% if discussion.editable? %>
            <%= link_to 'Destroy', [@project, discussion], method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discussion', new_project_discussion_path %>
