<%= form_with(model: [discussion, answer], local: true) do |form| %>

  <div class="box tabular">
    <% if answer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

        <ul>
        <% answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p class="field">
      <%= form.label :content %>
      <%= form.text_area :content %>
    </p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
